<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.death.walkrenger">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mainpage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".group"
            android:label="@string/title_activity_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".leaderboard"
            android:label="@string/title_activity_leaderboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mywalk"
            android:label="@string/title_activity_mywalk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".goodplace"
            android:label="@string/title_activity_goodplace"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".challenge"
            android:label="@string/title_activity_challenge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".group_profile"
            android:label="Group Profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".group_member"
            android:label="@string/title_activity_group_member"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>